
@page
@using Evat.IdentityServer.Pages.Account
@model             ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";    
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-cover">
                <div class="auth-inner row m-0">
                    <!-- Brand logo--><a class="brand-logo">
                        <img src="~/GRA_primary-logo_72dpi_RGB_REV.webp" height="70px" />
                

                    </a>
                    <!-- /Brand logo-->
                    <!-- Left Text-->
                    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5 bg-cover">
                        <img src="~/app-assets/images/illustration/verify-email-illustration.svg" />
                    </div>
                    <!-- /Left Text-->
                    <!-- Login-->

                    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">

                            <h1 class="card-title fw-bold mb-1" style="text-align: center !important;"><b>Welcome to Ghana Revenue Authority E-VAT</b></h1>
                                <div class="divider my-2">
                                <div class="divider-text"><h5>@ViewData["Title"]</h5></div>
                                </div>
                                <form class="auth-login-form mt-2" method="post">
                                    <input type="hidden" id="returnUrl" asp-for="Input.ReturnUrl" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="mb-1">
                                            <label class="form-label" asp-for="Input.UserName"></label>
                                            <input class="form-control" 
                                                type="text"
                                                placeholder="Enter username" 
                                                asp-for="Input.UserName" 
                                                id="txtUsername" autofocus>
                                        </div>

                                        <div id="userDetails" hidden>
                                         @*   <div class="form-group m-b-20">
                                                <h5 class="text-center">Please enter your email below.</h5>
                                            </div>*@
                                       
                                            <small>Email&nbsp;
                                                    <i id="suggestEmail"></i>
                                             </small>
                                            <div class="mb-1">
                                                <input class="form-control" 
                                                    type="text"
                                                    placeholder="Enter email" 
                                                    name="passEmail" id="passEmail" 
                                                    asp-for="Input.Email" autofocus>
                                            </div>
                                        </div>
                            

                                    <button type="button" 
                                        class="btn btn-primary w-100" tabindex="4" name="Input.Button" 
                                        value="login" id="btnResetPassword">Search
                                    </button>

                                    <div class="m-t-20">
                                        Remembered Password? Click <a href='javascript:history.go(-1)'>here</a> to login.
                                    </div>
                                </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationSummary" />

    <script>

        (function () {           

            let passAuthRadioOptions = document.querySelectorAll('input[type=radio][name="passAuth"]'),

            findUserHide = () => {
                document.querySelector("#suggestEmail, #suggestPhone").innerHTML = ``;
                document.querySelector("#userDetails").setAttribute("hidden", "")
                document.querySelector("#btnResetPassword").innerHTML = btnName.findUser;
            },

            resetPassword = () => {

                //if (!document.querySelector('#passAuthPhone').checked && !document.querySelector('#passAuthEmail').checked) {
                //    iziToast.show({
                //        color: 'blue', icon: 'fa fa-info', message: `Please select an option.`, position: 'topRight'
                //    });
                //    return false;
                //}

                if (!document.querySelector('#passEmail').value) {
                    iziToast.show({
                        color: 'blue', icon: 'fa fa-info', message: `Please provide a valid email`, position: 'topRight'
                    });
                    return false;
                }

                if (document.querySelector('#passEmail').value && validateEmail(document.querySelector('#passEmail').value) === false) {
                    iziToast.show({
                        color: 'blue', icon: 'fa fa-info', message: `Email format not recognised.`, position: 'topRight'
                    });
                    return false;
                }

                var settings = {
                    "url": `${SelfUrl}/api/Account/ForgotPasswordAjaxAsync`,
                    "method": "POST",
                    "timeout": 0,
                    "crossDomain": true,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({
                        "email": document.querySelector('#passEmail').value,
                        "username": document.querySelector('#txtUsername').value,
                        "returnUrl": document.querySelector('#returnUrl').value
                    }),
                };

                document.querySelector("#btnResetPassword").innerHTML = btnName.pleaseWait;
                document.querySelector(`input[type="text"]`).setAttribute("disabled", "disabled");
                document.querySelector("#btnResetPassword").setAttribute("disabled", "disabled");
                $.ajax(settings)
                    .done(function (response) { 

                        if (response === "email-sent-200") {

                            iziToast.show({
                                color: 'green', icon: 'fa fa-check', message: `An email has been sent to you with the next instructions. <br/>Thank you`, position: 'topRight'
                            });

                            setTimeout(function () {
                                window.location.replace(`${SelfUrl}/Account/ResetPasswordConfirmation`);
                            }, 2500); 

                        }

                        if (response === "email-failed-422") {
                            iziToast.show({
                                color: 'blue', icon: 'fa fa-info', message: `Unable to send email. Please try again later<br/>Sorry.`, position: 'topRight'
                            });
                            document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                            document.querySelector("#btnResetPassword").removeAttribute("disabled");
                            document.querySelector("#txtUsername").removeAttribute("disabled");
                            document.querySelector(document.querySelector('#passAuthEmail').checked ? '#passEmail' : '#passPhone').removeAttribute("disabled");
                            return false;
                        }

                        if (response === "email-mismatch-code-422") {
                            iziToast.show({
                                color: 'blue', icon: 'fa fa-info', message: `Email does not belong to this user`, position: 'topRight'
                            });
                            document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                            document.querySelector("#btnResetPassword").removeAttribute("disabled");
                            document.querySelector("#txtUsername").removeAttribute("disabled");
                            document.querySelector(document.querySelector('#passAuthEmail').checked ? '#passEmail' : '#passPhone').removeAttribute("disabled");
                            return false;
                        } 

                        if (response === "user-not-exist-204") {
                            iziToast.show({
                                color: 'blue', icon: 'fa fa-info', message: `User not confirmed or does not exist`, position: 'topRight'
                            });
                            document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                            document.querySelector("#btnResetPassword").removeAttribute("disabled");
                            document.querySelector("#txtUsername").removeAttribute("disabled");
                    
                            return false;
                        }                        

                        if (response === "validation-error-code-422") {
                            iziToast.show({
                                color: 'blue', icon: 'fa fa-info', message: `Email is required`, position: 'topRight'
                            });
                            document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                            document.querySelector("#btnResetPassword").removeAttribute("disabled");
                            document.querySelector("#txtUsername").removeAttribute("disabled");
                            document.querySelector(document.querySelector('#passAuthEmail').checked ? '#passEmail' : '#passPhone').removeAttribute("disabled");
                            return false;
                        }

                    }).fail(function (fail) {
                        console.log("error", fail);
                        iziToast.show({
                            color: 'blue', icon: 'fa fa-info', message: `Technical error, please contact your administrator`, position: 'topRight'
                        });
                        document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                        document.querySelector("#btnResetPassword").removeAttribute("disabled");
                        document.querySelector("#txtUsername").removeAttribute("disabled");
                        document.querySelector(document.querySelector('#passAuthEmail').checked ? '#passEmail' : '#passPhone').removeAttribute("disabled");
                    });
            },

            getUserPhoneOrEmail = () => {
                let username = document.querySelector('#txtUsername').value;

                if (!username) {
                    iziToast.show({
                        color: 'blue', icon: 'fa fa-info', position: 'topRight', message: `<b>Username</b> cannot be empty.`
                    });
                    document.querySelector('#txtUsername').focus();
                    return false;
                }

                document.querySelector("#btnResetPassword").innerHTML = btnName.pleaseWait;
                document.querySelector("#txtUsername, #btnResetPassword").setAttribute("disabled", "disabled");
                document.querySelector("#btnResetPassword").setAttribute("disabled", "disabled");


                fetch(`${SelfUrl}/api/Account/GetAccountEmailWithPhone?username=${username}`) // Call the fetch function passing the url of the API as a parameter
                    .then(response => response.json())
                    .then(e => {
                        document.querySelector("#txtUsername").removeAttribute("disabled");
                        document.querySelector("#btnResetPassword").removeAttribute("disabled");


                        if (e.email === "" && e.phone === "") {
                            iziToast.show({
                                color: 'blue',
                                icon: 'fa fa-info',
                                position: 'topRight',
                                message: `No user found!`
                            });

                            document.querySelector("#btnResetPassword").innerHTML = btnName.findUser;
                            return false;
                        }

                        if (e.email) {
                            document.querySelector("#suggestEmail").innerHTML = `(<b>Hint:&nbsp;</b> ${e.email})`;
                        } 

                        document.querySelector("#userDetails").removeAttribute("hidden");
                        document.querySelector('#passEmail').focus();
                        document.querySelector("#btnResetPassword").innerHTML = btnName.resetPassword;
                    })
                    .catch(function (error) {
                        console.log("error", error);
                        iziToast.show({
                            color: 'yellow', icon: 'fa fa-exclamation-triangle', position: 'topRight', message: `Network failure, please refresh page and try again.`
                        });
                    });
            };

            passAuthRadioOptions.forEach(radio =>
                radio.addEventListener('change', () => {
                    document.querySelector('#passPhone, #passEmail').setAttribute("disabled", "disabled");
                    document.querySelector('#passPhone, #passEmail').value = "";

                    let chosenInputAuthId = Number(radio.value) === 1 ? '#passPhone' : '#passEmail';

                    document.querySelector(chosenInputAuthId).removeAttribute("disabled");
                    document.querySelector(chosenInputAuthId).focus();
                })
            );

            document.querySelector('#txtUsername').addEventListener('keyup', (e) => {
                findUserHide();

                if (Number(e.which) === 13) {
                    getUserPhoneOrEmail();
                }
            });

            document.querySelector('#btnResetPassword').addEventListener('click', (e) => {

                //console.log(document.querySelector('#btnResetPassword').innerHTML.trim());
     
                if (document.querySelector('#btnResetPassword').innerText.trim() === btnName.findUser) {
                    getUserPhoneOrEmail();
                    return false;
                }

                if (document.querySelector('#btnResetPassword').innerText.trim() === btnName.resetPassword) {
                    resetPassword();
                    return false;
                }

                iziToast.show({
                    color: 'yellow',
                    icon: 'fa fa-info',
                    position: 'topRight',
                    message: `Sorry, something unexpected happened, refresh page and try again.`
                });
            });

        })();

    </script>
}



@*@section Scripts {
    

    <script>
        $(document).ready(function (){
            $("#userEmail").on("input", function () {
                if ($("#userName").val() !== "" && $(this).val() !== "") {
                    $("#btnResetPass").prop("disabled", false)
                }else {
                    $("#btnResetPass").prop("disabled", true)
                }
                
            })

        })
        function validateEmail(email) {
          var re =/^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
          return re.test(email);
        }

        
    </script>
}
*@