@page
@using Evat.IdentityServer.Pages.Account
@model             ResetPasswordConfirmationModel
@{
    Layout = null;

    ViewData["Title"] = "Reset password confirmation";
}


@*<h1>@ViewData["Title"]</h1>*@

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
   @* <base href="@ApplicationUrls.Current.SelfUrl.ToString()/" />*@
    <title>Persol Business Apps - Login</title>
    <link rel="apple-touch-icon" href="~/img/Persol-fav.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/Persol-fav.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    @*<link rel="stylesheet" type="text/css" href="~/">*@
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/bordered-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/themes/semi-dark-layout.min.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/authentication.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!-- END: Custom CSS-->

    <link href="~/css/iziToast.min.css" rel="stylesheet" />

    <style>
        .bg-cover {
            background-image: url('/img/login-bg.png') !important;
        }

        .login-text {
            text-align: center;
        }
    </style>

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Coming soon page-->
                <div class="misc-wrapper">
                    <a class="brand-logo" href="index.html">
                      
                     
                    </a>
                    <div class="misc-inner p-2 p-sm-3" style="margin-top: 70px;">
                        <div class="w-100 text-center">
                            <img src="~/img/logo-1.png" height="35px" style="margin-bottom: 15px;" alt="" />
                            <h2 class="mb-1">Password Reset Successful. 🚀</h2>
                            <p class="mb-3"> Your password has been reset. You will be redirected to the login page soon</p> 
                                <div class="spinner-grow text-primary me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-secondary me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-info me-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                               
                                <div class="spinner-grow text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                           
                          
                                <div class="col-12 d-md-block d-grid ps-md-0 ps-auto" hidden>
                                    <a class="btn btn-primary mb-1 btn-sm-block" id="btnRedirect" hidden>click here to log in</a>
                                </div>
                            @*<img class="img-fluid" src="~/app-assets/images/pages/coming-soon.svg" alt="Coming soon page" />*@
                            <img class="img-fluid" src="~/app-assets/images/pages/calendar-illustration.png" alt="Coming soon page" style="margin-top: 30px;"/>
                        </div>
                    </div>
                </div>
                <!-- / Coming soon page-->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>

    <script>
        $(document).ready(function (){
          
            //setTimeout(function () {
            //    window.location.href = "login"
            //}, 5000);
        })
    </script>
</body>
<!-- END: Body-->

</html>

@*<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
*@