@page
@using Evat.IdentityServer.Pages.Account
@model             TwoFactorFailedModel

@{
    ViewData["Title"] = "Two Factor Failed";
}

<h1>@ViewData["Title"]</h1>
<p>
    Two Factor operation failed
</p>
